* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gallery {
    width: 100%;   
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;  
}

.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);

}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    width: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    text-transform: capitalize;

}

.gallery-controls-button:focus {
    outline: none;

}

.gallery-controls-previous {
    position: relative;

}

.gallery-controls-previous::before {
    border: solid 000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25% ;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;

}

.gallery-controls-next {
    position: relative;

}

.gallery-controls-next::before {
    border: solid #000;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover:before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}




#carro img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}



#motortitulo h1{
    text-align: center;
    top: 240%  ;
   
}

#valortotal {
    font-size: 30px;
}

.container {
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    

    
}

header {
    background-color: #1C1C1C;
    width: 100%; 
     
}

header .logo {
    left: 10%;
}

.sociais, .logo{
    width: 25%;
}




.logo img{
    width: 150px;
}


.menu {
    width: 50%;

}



.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-size: 30px;
    position: relative;
    
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, gray, gray) ;
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
    
}

.menu nav a:hover::after {
    width: 30px;
    

}

.sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, gray, gray);
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 15px;
}

.sociais button i{
    font-size: 30px;
    color: white;

}

#cardproduto {
    height: 300px;
    width: 500px;
    border: solid;
    
}

#oleosintetico {
 height: 300px;
 width: 500px;
 
}


 
#motor {
    font-size: 40px;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 35%;
    margin-top: 15px;
    color: whitesmoke;
    font-size: 40px;
    cursor: pointer;
}
 
#cambio {
    font-size: 40px;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 50%;
    margin-top: 15px;
    color: whitesmoke;
    cursor: pointer;
}

#motor:hover {
    background-color: #2a5159;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,.8);
    display:table-cell;
}
 

 
body{
    background-color: #1C1C1C;
    background: linear-gradient(180deg, rgb(236, 213, 232)0%, rbg(50, 112, 118)100%);
}



.card  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px gray;
    position: absolute;
    left: 35%;
    top: 255%;
    
}
.card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card h1 {
    font-size: 1.2rem;
}
 
.card h2 {
    font-size: .9rem;
    color: #aaaa;
}
.card button {
    background-color: #327355;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

.card2  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 15%;
    top: 255%;
    
}
.card2 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card2 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card2 h2 {
    font-size: .9rem;
    color: #aaaa;
    ;
}
.card2 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}



.card3  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 55%;
    top: 255%;
    
}
.card3 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card3 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card3 h2 {
    font-size: .9rem;
    color: #aaaa;
    ;
}
.card3 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}


.card4  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 75%;
    top: 255%;
    
}
.card4 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card4 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card4 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card4 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card4 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

.card5  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 65%;
    top: 290%;
    
}
.card5 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card5 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card5 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card5 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card5 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}



.card6  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 45%;
    top: 290%;
    
}
.card6 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card6 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card6 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card6 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card6 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

.card7  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 25%;
    top: 290%;
    
}
.card7 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card7 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card7 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card7 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card7 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

#cam{
    position: absolute;
    top: 340%;   
}


.card8  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 25%;
    top: 355%;
    
}
.card8 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card8 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card8 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card8 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card8 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}


.card9  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 45%;
    top: 355%;
    
}
.card9 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card9 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card9 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card9 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card9 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}


.card10  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 65%;
    top: 355%;
    
}
.card10 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card10 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card10 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card10 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card10 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

.card11  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 55%;
    top: 400%;
    
}
.card11 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card11 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card11 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card11 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card11 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}


.card12  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 35%;
    top: 400%;
    
}
.card12 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card12 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card12 h1 {
    font-size: 1.2rem;
    color:  #aaaa;
}
 
.card12 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card12 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

.janela-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;    
}

.janela-modal2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-top: 50%;
}


.janela-modal:hover {
    position: fixed;
}

.janela-modal2:hover {
    position: fixed;
}






.modal {
    width: 35%;
    min-width: 450px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(10px);
    padding: 50px;
    border: solid;
    height: 28%;
    border-radius: 20px;
    
}

.modal2 {
    width: 35%;
    min-width: 450px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(10px);
    padding: 50px;
    border: solid;
    height: 28%;
    border-radius: 20px;
    
    
    
}

.comprar2 {
    
    position: absolute;
    right: 10px;
    border-radius: 10px;
    height: 40px;
    font-size: 15px;
    width: 80px;
    cursor: pointer;
    border: 0;
    background-color: #2192ff;
    color: white;
    top: 75%;
}

.janela-modal.abrir {
    display: flex;
}

.janela-modal2.abrir {
    display: flex;
}

#valortotal {
    position: relative;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal2 {
    animation: abrirmodal 0.5s;

}

.abrir .modal {
    animation: abrirmodal 0.5s;

}

#car {
    position: absolute;
    text-decoration: none;
    margin-left: 33%;
    top: 5px;
    font-size: 30px;
}

#pro {
    position: absolute;
    left: 5%;
    top: 25%;
    font-size: 25px;
}



