* {
    padding: 0;
    margin: 0;
}

#cardproduto {
    height: 300px;
    width: 500px;
    border: solid;
}

#oleosintetico {
 height: 300px;
 width: 500px;
}

*{
    margin: 0%;
    padding: 0%;
}
 
#cabecalho1 {
    height: 70px;
    background-color: #66a0d3;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   
}
 
#motor {
    font-size: 40px;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 35%;
    margin-top: 15px;
    color: whitesmoke;
    font-size: 40px;
    cursor: pointer;
}
 
#cambio {
    font-size: 40px;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 50%;
    margin-top: 15px;
    color: whitesmoke;
    cursor: pointer;
}

#motor:hover {
    background-color: #2a5159;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,.8);
    display:table-cell;
}
 
 
 
body{
    background-color: #183b59;
    


}

.slider {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    overflow: hidden;
    top: 43%;
    margin-bottom: 100px;
  

  

}

.slides {
    width: 600%;
    height: 300px;
    display: flex;

top: 43%;
    
 
}

.slides input {
    display: none;


}

.slide {
width: 25%;
position: relative;
transition: 2s;
}

.slide img {
    width: 600px;
    size: 100%;

}

.manual-navigation {
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
border: 2px solid white;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;

}

.manual-btn:not(:last-child) {
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}


.navigation-auto {
    position: absolute;
    width: 600px;
    margin-top: 360px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{ 
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio6:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

.card  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}
.card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card h1 {
    font-size: 1.2rem;
}
 
.card h2 {
    font-size: .9rem;
    color: #aaaa;
}
.card button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}


.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-extralight {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-light {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-extrabold {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-black {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-thin-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-light-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-regular-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-medium-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-semibold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-bold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-extrabold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-black-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
