* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
  

}

.slides {
    width: 800%;
    height: 500px;
    display: flex;
    margin-top: 50px;
 
}

.slides input {
    display: none;


}

.slide {
width: 25%;
position: relative;
transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
border: 2px solid white;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;

}

.manual-btn:not(:last-child) {
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}





.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 560px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio6:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}




#carro img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}



#motortitulo h1{
    text-align: center;
    top: 240%  ;
   
}

#valortotal {
    font-size: 30px;
}

.container {
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    

    
}

header {
    background-color: #1C1C1C;
    width: 100%; 
     
}

header .logo {
    left: 10%;
}

.sociais, .logo{
    width: 25%;
}




.logo img{
    width: 100px;
}


.menu {
    width: 50%;

}



.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-size: 30px;
    position: relative;
    
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, gray, gray) ;
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
    
}

.menu nav a:hover::after {
    width: 30px;
    

}

.sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, gray, gray);
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 15px;
}

.sociais button i{
    font-size: 30px;
    color: white;

}

#cardproduto {
    height: 300px;
    width: 500px;
    border: solid;
    
}

#oleosintetico {
 height: 300px;
 width: 500px;
 
}


 
#motor {
    font-size: 40px;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 35%;
    margin-top: 15px;
    color: whitesmoke;
    font-size: 40px;
    cursor: pointer;
}
 
#cambio {
    font-size: 40px;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 50%;
    margin-top: 15px;
    color: whitesmoke;
    cursor: pointer;
}

#motor:hover {
    background-color: #2a5159;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,.8);
    display:table-cell;
}
 

 
body{
    background-size: 300% 300%;
    background: linear-gradient(45deg, #DCDCDC,#808080,#708090,#C0C0C0);
    animation: color 12s ease-in-out infinite;
}



.card  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px gray;
    position: absolute;
    left: 35%;
    top: 120%;
    
}
.card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card h1 {
    font-size: 1.2rem;
}
 
.card h2 {
    font-size: .9rem;
    color: #aaaa;
}
.card button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card2  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 15%;
    top: 120%;
    
}
.card2 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card2 h1 {
    font-size: 1.2rem;
    
}
 
.card2 h2 {
    font-size: .9rem;
    color: #aaaa;
    ;
}
.card2 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}



.card3  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 55%;
    top: 120%;
    
}
.card3 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card3 h1 {
    font-size: 1.2rem;
    
}
 
.card3 h2 {
    font-size: .9rem;
    color: #aaaa;
    ;
}
.card3 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}


.card4  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 75%;
    top: 120%;
    
}
.card4 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card4 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card4 h1 {
    font-size: 1.2rem;
    
}
 
.card4 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card4 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card5  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 65%;
    top: 155%;
    
}
.card5 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card5 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card5 h1 {
    font-size: 1.2rem;
    
}
 
.card5 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card5 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}



.card6  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 45%;
    top: 155%;
    
}
.card6 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card6 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card6 h1 {
    font-size: 1.2rem;
    
}
 
.card6 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card6 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card7  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 25%;
    top: 155%;
    
}
.card7 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card7 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card7 h1 {
    font-size: 1.2rem;
    
}
 
.card7 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card7 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

#cam{
    position: absolute;
    top: 340%;   
}


.card8  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 25%;
    top: 235%;
    
}
.card8 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card8 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card8 h1 {
    font-size: 1.2rem;
    
}
 
.card8 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card8 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}


.card9  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 45%;
    top: 235%;
    
}
.card9 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card9 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card9 h1 {
    font-size: 1.2rem;
    
}
 
.card9 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card9 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}


.card10  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 65%;
    top: 235%;
    
}
.card10 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card10 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card10 h1 {
    font-size: 1.2rem;
    
}
 
.card10 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card10 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card11  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 55%;
    top: 280%;
    
}
.card11 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card11 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card11 h1 {
    font-size: 1.2rem;
    
}
 
.card11 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card11 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}


.card12  {
    background-color: #fff;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    position: absolute;
    left: 35%;
    top: 280%;
    
}
.card12 img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card12 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card12 h1 {
    font-size: 1.2rem;
    
}
 
.card12 h2 {
    font-size: .9rem;
    color: #aaaa;
    
}
.card12 button {
    background-color: #2192ff;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-image {
    width: 100%;
}

#valortotal {
    position: relative;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal2 {
    animation: abrirmodal 0.5s;

}

.abrir .modal {
    animation: abrirmodal 0.5s;

}

#car {
    position: absolute;
    text-decoration: none;
    margin-left: 33%;
    top: 5px;
    font-size: 30px;
}

#pro {
    position: absolute;
    left: 5%;
    top: 25%;
    font-size: 25px;
}

nav.menu-lateral {
    background-color: #1C1C1C;
    width: 80px;
    height: 100%;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 	#4F4F4F;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral:hover{
     width: 300px;
}

.btn-expadir {
    width: 100%;
    padding-left: 10px;

}

.btn-expadir > i {
    color: whitesmoke;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;

}

ul li.item-menu {
    transition: .5s;
}

ul li.item-menu:hover {
    background-color: gainsboro;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    padding: 20px 4%;
    margin-bottom: 20px;
    line-height: 40px;

}

ul li.item-menu a .txt {
    margin-left: 40px;
}


ul li.item-menu a .icon > i {
    font-size: 30px;

} 

footer {
    background-color: #1C1C1C;
    font-size: 20px;
    cursor: pointer;
    height: 100px;
    margin-top: 420%;
    text-align: center;
    align-items: center;
    

}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}

#motor3 {
    height: 50px;
    text-align: center;
    background-color: #1C1C1C;
    margin-top: 24% ;
    width: 100%;
    font-size: 30px;
    color: whitesmoke;

}


    
 



